body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.one {
    flex-wrap: nowrap;
    background:#1f2937;
    padding: 0 10% 5%;
}

.two {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
   
    align-items: center;
    background-color: white;
    height: 450px;

}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    background: ; 
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    height: 400px;
    padding: 0 20% 0;
}

.four {
    display: flex;
    justify-content: center;
    padding: 8%;
}

.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.primary {
    color: #f9faf8;
}

.secondary {
    font-size: 18px;
    color: #e5e7eb;
    
}

.logo {
    margin-top: 5%;
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.links { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.one_content {
    display: flex;
    flex: auto;
    margin: 10% 0 50px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


.placeholder {
    display: flex;
    background-color: gray;
    border: 4px black;
    color: #e5e7eb;
    width: 700px;
    height: 250px;
    align-items: center;
    justify-content: center;
    
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
    
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    width: 400px;
    margin: 0;

}

.ditwo {
    display: flex;
    flex-wrap: nowrap;
    font-size: 36px;
    width: fit-content;
    margin-top: 25px;
}

.random_blocks {
    display: flex;
    list-style: none;
    

}

.chunks {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
   
}

.empty {
    display: flex;
    border: solid #3882f6 5px;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

li {
    max-width: 150px;
    padding: 0 25px;
}

.call {
    display: flex;
    width: 1500px;
    background-color: #3882f6;
    padding: 30px 10%;
    border-radius: 8px;
    align-items: center;
    
}

h3 {
    margin-left: auto;
    margin-top: 0;
}

.button-two {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    height: 50px;
    margin-left: auto;
    
}